# Creating UNION Queries

In [11]:
SELECT DISTINCT c.SalesPerson AS Folks
FROM SalesLT.Customer as c
UNION
SELECT e.EmployeeName
FROM SalesLT.Employee as e


SELECT DISTINCT c.SalesPerson AS 'Folks', 'SalesPerson' as Type
FROM SalesLT.Customer as c
UNION
SELECT e.EmployeeName, 'Employee'
FROM SalesLT.Employee as e
-- Note: UNION ALL allows duplicates from results of all queries i.e, it doesn't require the overhead to check for duplicates

Folks
adventure-works\david8
adventure-works\garrett1
adventure-works\jae0
adventure-works\jillian0
adventure-works\josé1
adventure-works\linda3
adventure-works\michael9
adventure-works\pamela0
adventure-works\shu0

Folks,Type
adventure-works\david8,SalesPerson
adventure-works\garrett1,SalesPerson
adventure-works\jae0,SalesPerson
adventure-works\jillian0,SalesPerson
adventure-works\josé1,SalesPerson
adventure-works\linda3,SalesPerson
adventure-works\michael9,SalesPerson
adventure-works\pamela0,SalesPerson
adventure-works\shu0,SalesPerson
adventure-works\david8,Employee
adventure-works\garrett1,Employee
adventure-works\jae0,Employee
adventure-works\jillian0,Employee
adventure-works\josé1,Employee
adventure-works\linda3,Employee
adventure-works\michael9,Employee
adventure-works\pamela0,Employee
adventure-works\shu0,Employee

# Creating INTERSECT and EXCEPT Queries

In [13]:
SELECT c.SalesPerson as 'Folks'
FROM SalesLT.Customer as c
INTERSECT
SELECT e.EmployeeName
FROM SalesLT.Employee as e


SELECT c.SalesPerson as 'Folks', 'SalesPerson' as Type
FROM SalesLT.Customer as c
INTERSECT
SELECT e.EmployeeName, 'Employee'
FROM SalesLT.Employee as e

Folks
adventure-works\david8
adventure-works\garrett1
adventure-works\jae0
adventure-works\jillian0
adventure-works\josé1
adventure-works\linda3
adventure-works\michael9
adventure-works\pamela0
adventure-works\shu0

In [19]:
SELECT c.SalesPerson as 'Folks', 'SalesPerson' as Type
FROM SalesLT.Customer as c
EXCEPT
SELECT e.EmployeeName, 'Employee'
FROM SalesLT.Employee as e


SELECT c.SalesPerson as 'Folks'
FROM SalesLT.Customer as c
EXCEPT
SELECT e.EmployeeName
FROM SalesLT.Employee as e

Folks,Type
adventure-works\david8,SalesPerson
adventure-works\garrett1,SalesPerson
adventure-works\jae0,SalesPerson
adventure-works\jillian0,SalesPerson
adventure-works\josé1,SalesPerson
adventure-works\linda3,SalesPerson
adventure-works\michael9,SalesPerson
adventure-works\pamela0,SalesPerson
adventure-works\shu0,SalesPerson